/* ------- Signup Page Styling -------- */
body {
    background-color: #cde4b5;
}

.signup-container {
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    background-color: rgba(224, 232, 229, 0.988);
    box-shadow: 4px 8px rgba(20, 0, 0, 0.153);
    border-radius: 8px;
    text-align: center;
}

h2 {
    color: #333;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup-btn {
    background-color: #30cd3f;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.signup-btn:hover {
    background-color: #28b032;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
