/* Auth.css - Styling for Authentication Component */

/* Center the authentication container */
.auth-container {
    max-width: 400px;
    margin: 85px auto 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    background-color: rgba(224, 232, 229, 0.988);
    box-shadow: 4px 8px rgba(20, 0, 0, 0.153);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.auth-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); /* Stronger shadow on hover */
}

/* Header */
.auth-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Buttons */
.btn {
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 100%;
    margin-top: 10px;
    transition: background 0.3s ease, transform 0.2s;
}

.btn-primary {
    background-color: #4285f4;
    color: white;
}

.btn-primary:hover {
    background-color: #357ae8;
    transform: scale(1.05);
}

.btn-danger {
    background-color: #c9302c;
    color: white;
}

.btn-danger:hover {
    color: white;
    background-color: #c9302c;
    transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 500px) {
    .auth-container {
        width: 90%;
        padding: 20px;
    }
}
