.file-preview-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.file-box {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex: 1 1 200px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.file-name {
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
    word-break: break-all;
    text-decoration: none;
}

.file-name:hover {
    text-decoration: underline;
}

.remove-btn {
    background-color: transparent;
    border: none;
    color: #ff0000;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease;
}

.remove-btn:hover {
    color: #ff5050;
}

.file-row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.file-box::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    /* background-image: url('../images/upload-file-img.png'); */
    /* background-size: contain;
    background-repeat: no-repeat; */
}

.file-upload {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-upload:hover {
    background-color: darkgreen;
}
